p {
    font-size: ï¼’8px;
}

.body {
    text-align: center;
}

.red {
    color: red;
}

.center {
    text-align: center;
}

.image {
    background-color: #eee;
    border-radius: 20px;
    margin-bottom: 50;
    padding: 50px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;


}

/* .welsh {
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
} */

.welsh {
    cursor: pointer;
}

@keyframes rotate{
    from {
        transform:rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

.anim {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}